body{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 450px;
    height: 730px;
    background-color: rgb(28, 25, 25);
    float: right;
    font-size: l;
    padding: 7px;
    position: relative;
}   

.write{
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
}

#active{
    width: 60%;
    height: 60px;
    background-color: red;
    float: left;
    position: absolute;
    left: 130px;
    bottom: 0px;
    font-size: 17px;
    transition: 4px solid green;
}

.i_style{
    width: 90px;
    color: black;
    border-radius: 7px;
}

.s_style{
    border-radius: 8px;
}

.i_c_style{
    border-radius: 7px;
}

.textStyle{
    font-size: 20px;
    color: goldenrod;
}